@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: white;
  background: black;
  overflow-x: hidden;
}

/* SCROLLBAR PRESETS */
::-webkit-scrollbar-track {
  background-color: #2a2a2a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4b6b88;
  border-radius: 10px;
  border: 3px solid #2a2a2a;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5c7da0;
}

.gradient-text {
  background: linear-gradient(to right, #bae6fd 0%, #7dd3fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-shadow {
  @apply shadow-[inset_0_6px_20px_rgba(0,0,0,0.6)];
}