@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: white;
  background: black;
}

/* SCROLLBAR PRESETS */
::-webkit-scrollbar-track {
  background-color: #2a2a2a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4b6b88;
  border-radius: 10px;
  border: 3px solid #2a2a2a;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5c7da0;
}

.gradient-text-lightblue {
  background: linear-gradient(to right, #bae6fd 0%, #7dd3fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-darkblue {
  background: linear-gradient(to right, #000000 0%, #0f172a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.custom-glow-blue {
  background: conic-gradient(at center, #904be5, #6c6cff, #0080ff, #546eff);
  filter: blur(24px);
  border-radius: 40%;
  overflow: hidden;
}

.custom-glow-purple {
  background: conic-gradient(at center, #904be5, #6c6cff, purple, #ff92f0);
  filter: blur(24px);
  border-radius: 40%;
  overflow: hidden;
}

.section-shadow {
  @apply shadow-[inset_0_6px_20px_rgba(0,0,0,0.6)];
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
